* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #0d0d0d;
    --sec-color: #1f1f1f;
    --para-color: white;
    --para-color2:#c8c8c8;
    --div-color: #ed815f;
    --first-color:#664035;
    --secend-color:#a35e48;
    --third-color:#c46d52;


}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 10px;
    background-color: var(--main-color);
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}